.xs-1 { --xs:calc(100% / 12 * 1); }
.xs-2 { --xs:calc(100% / 12 * 2); }
.xs-3 { --xs:calc(100% / 12 * 3); }
.xs-4 { --xs:calc(100% / 12 * 4); }
.xs-5 { --xs:calc(100% / 12 * 5); }
.xs-6 { --xs:calc(100% / 12 * 6); }
.xs-7 { --xs:calc(100% / 12 * 7); }
.xs-8 { --xs:calc(100% / 12 * 8); }
.xs-9 { --xs:calc(100% / 12 * 9); }
.xs-10 { --xs:calc(100% / 12 * 10); }
.xs-11 { --xs:calc(100% / 12 * 11); }
.xs-12 { --xs:calc(100% / 12 * 12); }

.sm-1 { --sm:calc(100% / 12 * 1); }
.sm-2 { --sm:calc(100% / 12 * 2); }
.sm-3 { --sm:calc(100% / 12 * 3); }
.sm-4 { --sm:calc(100% / 12 * 4); }
.sm-5 { --sm:calc(100% / 12 * 5); }
.sm-6 { --sm:calc(100% / 12 * 6); }
.sm-7 { --sm:calc(100% / 12 * 7); }
.sm-8 { --sm:calc(100% / 12 * 8); }
.sm-9 { --sm:calc(100% / 12 * 9); }
.sm-10 { --sm:calc(100% / 12 * 10); }
.sm-11 { --sm:calc(100% / 12 * 11); }
.sm-12 { --sm:calc(100% / 12 * 12); }

.md-1 { --md:calc(100% / 12 * 1); }
.md-2 { --md:calc(100% / 12 * 2); }
.md-3 { --md:calc(100% / 12 * 3); }
.md-4 { --md:calc(100% / 12 * 4); }
.md-5 { --md:calc(100% / 12 * 5); }
.md-6 { --md:calc(100% / 12 * 6); }
.md-7 { --md:calc(100% / 12 * 7); }
.md-8 { --md:calc(100% / 12 * 8); }
.md-9 { --md:calc(100% / 12 * 9); }
.md-10 { --md:calc(100% / 12 * 10); }
.md-11 { --md:calc(100% / 12 * 11); }
.md-12 { --md:calc(100% / 12 * 12); }

.lg-1 { --lg:calc(100% / 12 * 1); }
.lg-2 { --lg:calc(100% / 12 * 2); }
.lg-3 { --lg:calc(100% / 12 * 3); }
.lg-4 { --lg:calc(100% / 12 * 4); }
.lg-5 { --lg:calc(100% / 12 * 5); }
.lg-6 { --lg:calc(100% / 12 * 6); }
.lg-7 { --lg:calc(100% / 12 * 7); }
.lg-8 { --lg:calc(100% / 12 * 8); }
.lg-9 { --lg:calc(100% / 12 * 9); }
.lg-10 { --lg:calc(100% / 12 * 10); }
.lg-11 { --lg:calc(100% / 12 * 11); }
.lg-12 { --lg:calc(100% / 12 * 12); }

.row > div
{
    float:left;

    /*
        define this with inline style or classes
        eg style="--lg:100%;" or sm-12
    */
    width:var(--xs, 100%);
}
.row::after
{
    content:"";
    display:table;
    clear:both;
}
@media (min-width:768px)
{
    .row > div
    {
        width:var(--sm, var(--xs, 100%));
    }
}
@media (min-width:992px)
{
    .row > div
    {
        width:var(--md, var(--sm, var(--xs, 100%)));
    }
}
@media (min-width:1200px)
{
    .row > div
    {
        width:var(--lg, var(--md, var(--sm, var(--xs, 100%))));
    }
}
/*
    xs [0     768)
    sm [768   992)
    md [992   1200)
    lg [1200  inf)
*/














/* eof */
